<!-- Header -->
<div class="relative bg-red-600 md:pt-32 pb-32 pt-12" >
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-2/12 xl:w-3/12 px-4" *ngIf="currentState >= 1 " >
          <app-card-stats
            statSubtitle="User"
            statTitle="Completed"
            statArrow=""
            statPercent=""
            statPercentColor=""
            statDescripiron=""
            statIconName=""
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>

        <div class="w-full lg:w-2/12 xl:w-3/12 px-4" *ngIf="currentState >= 2">
          <app-card-stats
            statSubtitle="Grama Niladhari"
            statTitle="Completed"
            statArrow=""
            statPercent=""
            statPercentColor=""
            statDescripiron=""
            statIconName=""
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>

        <div class="w-full lg:w-2/12 xl:w-3/12 px-4" *ngIf="currentState >= 3">
          <app-card-stats
            statSubtitle="Divisional Councils"
            statTitle="Completed"
            statArrow=""
            statPercent=""
            statPercentColor=""
            statDescripiron=""
            statIconName=""
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>

        <div class="w-full lg:w-2/12 xl:w-3/12 px-4" *ngIf="currentState >= 4">
          <app-card-stats
            statSubtitle="Police Report"
            statTitle="Completed"
            statArrow=""
            statPercent=""
            statPercentColor=""
            statDescripiron=""
            statIconName=""
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
       
      </div>

      <div class="flex flex-wrap mt-5">
        
        <div class="w-full lg:w-2/12 xl:w-3/12 px-4" *ngIf="currentState >= 5">
          <app-card-stats
            statSubtitle="Justice Of Peace Report"
            statTitle="Completed"
            statArrow=""
            statPercent=""
            statPercentColor=""
            statDescripiron=""
            statIconName=""
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>

        <div class="w-full lg:w-2/12 xl:w-3/12 px-4" *ngIf="currentState >= 6">
          <app-card-stats
            statSubtitle="Photograph"
            statTitle="Completed"
            statArrow=""
            statPercent=""
            statPercentColor=""
            statDescripiron=""
            statIconName=""
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>

        <div class="w-full lg:w-2/12 xl:w-3/12 px-4" *ngIf="currentState >= 7">
          <app-card-stats
            statSubtitle="DRP Final"
            statTitle="Completed"
            statArrow=""
            statPercent=""
            statPercentColor=""
            statDescripiron=""
            statIconName=""
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>

        <div class="w-full lg:w-2/12 xl:w-12/12 px-4" *ngIf="currentState == 'Error Detected' ">
          <app-card-stats
            statSubtitle="Issue Detected"
            statTitle="Issue Marked"
            statArrow=""
            statPercent=""
            statPercentColor=""
            statDescripiron="{{errorText}}"
            statIconName=""
            statIconColor="bg-red-600"
          ></app-card-stats>
        </div>
       
      </div>
     
    </div>
  </div>
</div>
